.wrapper {
  display: grid;

  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: -22px;
  margin-bottom: 86px;
}

.title {
  margin: 0;
  margin-bottom: 21px;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 45px;
}
