.button {
  padding: 4.5px 9px;

  transition: 0.2s linear;

  letter-spacing: 0.4px;

  color: var(--secondary-color);
  border: none;
  border-radius: 2px;
  background-color: var(--grey);

  font-family: 'droid-sans', Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;

  &:hover {
    cursor: pointer;

    background-color: #585757;
  }

  &:active {
    background-color: #9f9e9e;
  }

  &_primary {
    letter-spacing: 1px;

    background-color: var(--orange);

    &:hover {
      cursor: pointer;

      background-color: var(--light-orange);
    }

    &:active {
      background-color: var(--dark-orange);
    }

    &:disabled {
      cursor: default;

      opacity: 0.7;
      background-color: var(--orange);
    }
  }

  &_secondary {
    letter-spacing: 1px;

    color: #585757;
    border: 1px solid #585757;
    background-color: var(--secondary-color);

    &:hover {
      cursor: pointer;

      opacity: 0.7;
      background-color: var(--secondary-color);
    }

    &:active {
      opacity: 0.5;
    }
  }

  &_cart {
    position: relative;

    padding-left: 28px;

    &::before {
      position: absolute;
      top: 50%;
      left: 11px;

      width: 12px;
      height: 12px;

      content: '';
      transform: translateY(-50%);

      background-image: url('./shopping-cart.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
