.wrapper {
  display: grid;

  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  margin-top: -46px;
  margin-bottom: 21px;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 50px;
}

.section {
  display: grid;

  width: 1020px;
  padding-right: 40px;
  padding-left: 40px;
  grid-template-columns: 208px auto;
  column-gap: 32px;
}
