.list {
  position: relative;

  display: grid;
  row-gap: 30px;

  width: 1020px;
  margin: 0;
  padding: 0;
  padding-right: 40px;
  padding-left: 40px;

  list-style: none;

  &::before {
    position: absolute;
    top: -16px;
    left: 40px;

    width: 940px;
    height: 0.7px;

    content: '';

    background-color: #dddada;
  }
}
