.list {
  position: relative;
  grid-area: basket;

  display: grid;
  row-gap: 30px;

  margin: 0;
  padding: 0;

  list-style: none;

  &::before {
    position: absolute;
    top: -16px;
    left: 0;

    width: 940px;
    height: 0.7px;

    content: '';

    background-color: #dddada;
  }
}
