.wrapper {
  display: flex;
  justify-content: center;

  background-color: var(--light-grey);
}

.inner {
  display: grid;
  grid-template-columns: 180px auto;

  align-items: center;

  width: 1020px;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
}

.nav {
  display: grid;
  grid-template-columns: auto 148px;

  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.items {
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  padding-top: 5px;
  padding-bottom: 5px;

  font-size: 16px;

  &:not(:last-child) {
    margin-right: 40px;
  }
}

.link {
  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }

  &_icon {
    display: block;

    padding: 13px;
  }
}

.cart {
  padding-right: 5px;
}

.guitar {
  display: flex;
  justify-content: right;

  margin-top: -38px;

  background-image: url('./strings.svg');
  background-repeat: no-repeat;
  background-position: 0 62px;
}
